.navbtn {
  width: 100%;
  justify-content: center;
  background-color: var(--cinza2);
  padding: 0.7rem 0;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.5);
}
.menu2 {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.menu2 li button {
  padding: 1.5rem 3rem;
  border: none;
  background: none;
  color: var(--branco);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
}
.menu2 li button:hover {
  background-color: var(--cinza1);
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.5);
  animation: cresce 0.3s ease;
}
.menu2 li button:focus {
  background-color: var(--verde);
  border-radius: 10px;
  box-shadow: 0.5 0.5 0.5 var(--cinza1);
}

@keyframes cresce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
